<ion-view view-title="Snail snail snail">
  <ion-content>
    <div class="container">
	  <div ng-show="loading" class="loading-animation"><ion-spinner></ion-spinner></div>
         <div ng-show="previousAppointments.length > 0" ng-hide="loading">
            <b>Select an appointment:</b><br/><br/>
            <div class="row item" ng-repeat="previousAppointment in previousAppointments  | filter:search_query" ng-click="selectWeight($index)">
               <div class="col">{{previousAppointment.date}}</div>
               <div class="col">{{previousAppointment.weight}}</div>
            </div>
         </div>
         <div ng-show="previousAppointments.length == 0 && !loading">
            <b>There are no previous appointments.</b>
         </div>
    </div>
  </ion-content>
</ion-view>
